<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title><%= __('title.site') %></title>
	<link rel='stylesheet' href='/web/stylesheets/main.css' />
</head>
<body>
	<div id="container" style="border: solid 1px gray;">
		<div id="areaGnb">
			<div id="areaBtnToMain" style="display: inline-block;  cursor: pointer;">
				<img src="/web/image/mainLog.png" align="middle" style="margin: 5px;"> <%= __('logo.main') %>
			</div>
			<div id="areaBtnReservInfo" style="display: inline-block; float: right; margin: 5px;">
				<div style="display: inline-block;">
<% if(locals.user) { %>
	<a href="/reservationList"><%= locals.user %></a>
	<a style="cursor:pointer" onClick="fncLogout()">로그아웃</a>
<% } else { %>
	<a href="/web/loginPage">로그인</a>
<% } %>
				</div>
			</div>
		</div>
		<div id="areaPromotion" style="vertical-align: top; height: 200px; width: 600px; overflow: hidden;"></div>
		<div id="areaCategory">
			<div class="categoryBtn" categoryId="0" style="display: inline-block; margin-left: 20px; margin-right: 20px; font-weight: bold; cursor: pointer;">
				<%= __('category.all') %>
			</div>
		</div>
		<div id="areaCount" style="text-align: center; margin-bottom: 15px;">
			<c:out value="${productCountMessage}"></c:out>
		</div>
		<div id="areaProductList">
			<div class="areaProduct" id="productLeft"></div>
			<div class="areaProduct" id="productRight"></div>
		</div>
		<div id="areaBtnMore" style="text-align: center;">
			<%= __('btn.more') %>
		</div>
		<div id="areaBtnToTop" style="text-align: center;">
			^ TOP
		</div>
		
	</div>
	
	<script id="promotionTemplate" type="text/template">
		<div class="promotionItem" style="position: relative; display: inline;">
			<img src="/web/{{path}}" width="600" height="200">
		</div>
	</script>
	
	<script id="categoryTemplate" type="text/template">
		<div class="categoryBtn" categoryId="{{categoryId}}" style="display: inline-block; margin-left: 20px; margin-right: 20px; font-weight: bold; cursor: pointer;">
			{{name}}
		</div>
	</script>
	
	<script id="productTemplate" type="text/template">
		<img src="/web/{{path}}" height="350" width="280"><br>
		<b>{{name}}</b><br>
		{{place}}<br>
		{{description}}
	</script>
	
	<script id="label.product.count" type="text/message">
		<%= __('products.count.message') %>
	</script>
	
	<script type='text/javascript' src='/web/lib/handlebars-v4.1.0.js'></script>
	<script type="text/javascript" src="/web/javascript/main.js"></script>
	
	<script>
		function fncLogout() {
			var req= new XMLHttpRequest();
			req.addEventListener('load', function() {
				if(this.status == 200) {
					eraseCookieFromAllPaths('Bearer');
					window.location.href= '/web';
				} else if(this.status == 401) {
					window.location.href= '/web/loginPage';
				}
			});
			req.open('GET', '/api/auth/logout', true);
			req.withCredentials= true;
			req.send();
		}
		
		function eraseCookieFromAllPaths(name) {
		    // This function will attempt to remove a cookie from all paths.
		    var pathBits = location.pathname.split('/');
		    var pathCurrent = ' path=';
		
		    // do a simple pathless delete first.
		    document.cookie= name + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT;';
		
		    for (var i = 0; i < pathBits.length; i++) {
		        pathCurrent += ((pathCurrent.substr(-1) != '/') ? '/' : '') + pathBits[i];
		        document.cookie = name + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT;' + pathCurrent + ';';
		    }
		}
	</script>
	
	
	
</body>
</html>